@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

@import url("https://siiriiks.github.io/SEA/SEAbackgrounds.css");

.userPopout-xaxa6l {
    overflow: hidden;
    transform: translateZ(0) !important;
    --USRBG-banner-height: 120px;
    --USRBG-avatar-offset: 76px;
}
.userPopout-xaxa6l[style*="--user-background"] .popoutBanner-19WKGg {
  height: var(--USRBG-banner-height, 120px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: var(--user-popout-position, center) center;
  background-image: var(--user-background);
}
.userPopout-xaxa6l[style*="--user-background"] .avatarPositionNormal-aZjAsn {
  top: var(--USRBG-avatar-offset, 76px);
}
.root-3QyAh1[style*="--user-background"] .profileBanner-33-uE1 {
    height: 240px;
    background: var(--user-background) var(--user-popout-position, center) center / cover;
}


@import url("https://siiriiks.github.io/SEA/SEAbadges.css");

.container-q03LZO::before {
  background-color: transparent !important;
  background-size: contain;
}
.member-3-YXUe .container-q03LZO::before , .message-2qnXI6 .container-q03LZO::before {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}
.userPopout-xaxa6l .container-q03LZO::before {
  width: 18px;
  height: 18px;
  margin: 0 6px 6px 0;
}
.root-3QyAh1 .container-q03LZO::before {
  width: 24px;
  height: 24px;
  margin: 0 6px 6px 0;
}